<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments :: html_head(removeTag='tag')" />
</head>
<body>
<div class="container text-center">
	<div th:replace="fragments :: topnav">Top Navigation Menu</div>
		
	<div>
		<h2>Change Your Expired Password</h2>
	</div>
			
	<form th:action="@{/change_password}" method="post" style="max-width: 350px; margin: 0 auto;">
	<div class="border border-secondary rounded p-3">
		<div th:if="${message != null}" class="m-3">
			<p class="text-danger">[[${message}]]</p>
		</div>		
		<div>
			<p>
				<input type="password" name="oldPassword" class="form-control" 
						placeholder="Old Password" required autofocus />
			</p>		
			<p>
				<input type="password" name="newPassword" id="newPassword" class="form-control" 
						placeholder="New password" required />
			</p>			
			<p>
				<input type="password" class="form-control" placeholder="Confirm new password" 
						required oninput="checkPasswordMatch(this);" />
			</p>			
			<p class="text-center">
				<input type="submit" value="Change Password" class="btn btn-primary" />
			</p>
		</div>
	</div>
	</form>		
		
	<div th:replace="fragments :: footer">Static footer</div>	
</div>	
<script type="text/javascript">
	function checkPasswordMatch(fieldConfirmPassword) {
		if (fieldConfirmPassword.value != $("#newPassword").val()) {
			fieldConfirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			fieldConfirmPassword.setCustomValidity("");
		}
	}		
</script>
</body>
</html>